@screen-i5-portrait-min: 320px;
@screen-i5-landscape-min: 568px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xlg-min: 1400px;
@screen-xxlg-min: 1650px;

@primary-color: #000;
@red-color-1: #f2283b;
@text-color: #333333;

.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.text-overflow(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@font-face {
    font-family: 'Akrobat Black';
    src: url('../fonts/akrobat/akrobat-black.eot');
    src: url('../fonts/akrobat/akrobat-black.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akrobat/akrobat-black.woff2') format('woff2'),
         url('../fonts/akrobat/akrobat-black.woff') format('woff'),
         url('../fonts/akrobat/akrobat-black.ttf') format('truetype'),
         url('../fonts/akrobat/akrobat-black.svg#akrobatblack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat Bold';
    src: url('../fonts/akrobat/akrobat-bold.eot');
    src: url('../fonts/akrobat/akrobat-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akrobat/akrobat-bold.woff2') format('woff2'),
         url('../fonts/akrobat/akrobat-bold.woff') format('woff'),
         url('../fonts/akrobat/akrobat-bold.ttf') format('truetype'),
         url('../fonts/akrobat/akrobat-bold.svg#akrobatbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat Extrabold';
    src: url('../fonts/akrobat/akrobat-extrabold.eot');
    src: url('../fonts/akrobat/akrobat-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akrobat/akrobat-extrabold.woff2') format('woff2'),
         url('../fonts/akrobat/akrobat-extrabold.woff') format('woff'),
         url('../fonts/akrobat/akrobat-extrabold.ttf') format('truetype'),
         url('../fonts/akrobat/akrobat-extrabold.svg#akrobatextrabold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat Extra Light';
    src: url('../fonts/akrobat/akrobat-extralight.eot');
    src: url('../fonts/akrobat/akrobat-extralight.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akrobat/akrobat-extralight.woff2') format('woff2'),
         url('../fonts/akrobat/akrobat-extralight.woff') format('woff'),
         url('../fonts/akrobat/akrobat-extralight.ttf') format('truetype'),
         url('../fonts/akrobat/akrobat-extralight.svg#akrobatextralight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/akrobat/akrobat-light.eot');
    src: url('../fonts/akrobat/akrobat-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akrobat/akrobat-light.woff2') format('woff2'),
         url('../fonts/akrobat/akrobat-light.woff') format('woff'),
         url('../fonts/akrobat/akrobat-light.ttf') format('truetype'),
         url('../fonts/akrobat/akrobat-light.svg#akrobatlight') format('svg');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/akrobat/akrobat-regular.eot');
    src: url('../fonts/akrobat/akrobat-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akrobat/akrobat-regular.woff2') format('woff2'),
         url('../fonts/akrobat/akrobat-regular.woff') format('woff'),
         url('../fonts/akrobat/akrobat-regular.ttf') format('truetype'),
         url('../fonts/akrobat/akrobat-regular.svg#akrobatregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat';
    src: url('../fonts/akrobat/akrobat-semibold.eot');
    src: url('../fonts/akrobat/akrobat-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akrobat/akrobat-semibold.woff2') format('woff2'),
         url('../fonts/akrobat/akrobat-semibold.woff') format('woff'),
         url('../fonts/akrobat/akrobat-semibold.ttf') format('truetype'),
         url('../fonts/akrobat/akrobat-semibold.svg#akrobatsemibold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Akrobat Thin';
    src: url('../fonts/akrobat/akrobat-thin.eot');
    src: url('../fonts/akrobat/akrobat-thin.eot?#iefix') format('embedded-opentype'),
         url('../fonts/akrobat/akrobat-thin.woff2') format('woff2'),
         url('../fonts/akrobat/akrobat-thin.woff') format('woff'),
         url('../fonts/akrobat/akrobat-thin.ttf') format('truetype'),
         url('../fonts/akrobat/akrobat-thin.svg#akrobatthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/prompt/prompt-medium.eot');
    src: url('../fonts/prompt/prompt-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/prompt/prompt-medium.woff2') format('woff2'),
         url('../fonts/prompt/prompt-medium.woff') format('woff'),
         url('../fonts/prompt/prompt-medium.ttf') format('truetype'),
         url('../fonts/prompt/prompt-medium.svg#promptmedium') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/prompt/prompt-regular.eot');
    src: url('../fonts/prompt/prompt-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/prompt/prompt-regular.woff2') format('woff2'),
         url('../fonts/prompt/prompt-regular.woff') format('woff'),
         url('../fonts/prompt/prompt-regular.ttf') format('truetype'),
         url('../fonts/prompt/prompt-regular.svg#promptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/prompt/prompt-light.eot');
    src: url('../fonts/prompt/prompt-light.eot?#iefix') format('embedded-opentype'),
         url('../fonts/prompt/prompt-light.woff2') format('woff2'),
         url('../fonts/prompt/prompt-light.woff') format('woff'),
         url('../fonts/prompt/prompt-light.ttf') format('truetype'),
         url('../fonts/prompt/prompt-light.svg#promptlight') format('svg');
    font-weight: lighter;
    font-style: normal;
}

.blink{
    -webkit-animation: blinker 1.5s linear infinite;
    -moz-animation: blinker 1.5s linear infinite;
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
    0% { opacity: 0.3; }
    30% { opacity: 1.0; }
    30% { opacity: 1.0; }
    100% { opacity: 0.3; }
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

body{
    // -webkit-font-smoothing: antialiased;
    font-family: "Prompt";
    font-weight: normal;
    color: @text-color;

    &.open-customize,
    &.open-menu{
        position: fixed;
        left: 0;
        right: 0;
    }

    &.open-backdrop{
        #header-panel{
            z-index: 5;
        }

        .detail-text-mask{
            display: block;
        }

        .mobile-model-content{
            z-index: 2;
        }
    }

    &.home-page{
        width: 100%;
        height: 100%;
        position: fixed;
        overflow: hidden;

        #body-wrapper{
            opacity: 1;
        }

        #header-panel{
            #header-top-panel{
                #header-top-menus{
                    margin-right: 0;
                }
            }
        }
    }

    &.view-360-page{
        #header-panel{
            #header-top-panel{
                padding: 0;

                #back-to-main-btn{
                    text-transform: uppercase;
                    color: #fff;
                    font-family: "Akrobat";
                    font-size: 14px;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                    opacity: 1;
                    margin: 12px 0 5px;
                    display: block;

                    > img{
                        width: 16px;
                        margin-right: 5px;
                    }

                    &:hover{
                        opacity: 1;
                    }
                }

                .model-name{
                    font-family: "Akrobat";
                    font-weight: lighter;
                    font-size: 26px;
                    line-height: 1;
                    color: #fff;
                    float: right;
                    margin-top: 3px;

                    &:before{
                        content: '';
                        display: inline-block;
                        width: 6px;
                        height: 6px;
                        margin-right: 10px;
                        background-color: @red-color-1;
                        vertical-align: middle;
                        border-radius: 50%;
                    }
                }
            }

            .navbar-brand{
                margin-top: -22px;
                margin-left: 15px;

                &:after{
                    content: '';
                    position: absolute;
                    margin-left: 15px;
                    width: 1px;
                    top: -16px;
                    right: 6px;
                    bottom: -2px;
                    display: block;
                    background-color: @red-color-1;
                }
            }
        }
    }

    &.download-page,
    &.location-page{
        position: fixed;
        left: 0;
        right: 0;
    }
}

.detail-text-mask{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    display: none;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

textarea{
    resize: none;
}

button,
a{
    cursor: pointer;

    &:focus,
    &:hover,
    &:hover{
        outline: none !important;
        text-decoration: none;
    }
}

img{
    max-width: 100%;
    max-height: 100%;
}

.text-white{
    color: #fff;
}

.text-red-1{
    color: @red-color-1;
}

.item-loading-panel,
#item-loading-panel{
    display: none;
    text-align: center;
    padding: 60px 0 20px;

    img{
        width: 24px;
        opacity: 0.5;
    }
}

.item-loading-panel{
    padding-top: 30px;
    display: block;
}

#loading-panel{
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1060;
    display: none;

    .img-wrapper,
    .loading-icon,
    img{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: -32px auto 0;
    }

    .img-wrapper{
        width: 100px;
        height: 100px;
        border: 1px solid @red-color-1;
        border-radius: 50%;
        overflow: hidden;
        display: block;
        line-height: 100px;
        margin-top: -50px;
        text-align: center;

        > img{
            position: relative;
            top: 0;
            margin-top: -4px !important;
        }
    }

    .loading-icon{
        z-index: 2;
    }

    &.in-panel{
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
    }

    &.circle{
        img{
            width: 62px;
            margin-top: -36px;
        }
    }
}

#drag-mask{
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1060;
    display: none;

    > img{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 140px;
        margin: -70px auto 0;
    }
}

#drag-screen-mask{
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    // display: none;

    > img{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        width: 150px;
        margin: -48px auto 0;
        pointer-events: none;
    }
}

#body-wrapper{
    opacity: 0;
}

/* MENU */
@dark: #212121;
@light: #efefef;
@color: #b3e5fc;

.navbar-toggle{
    margin: 2px 0 0;
}

.btn(@left, @top) {
    position: absolute;
    width: 60px;
    height: 60px;
    top: @top;
    left: @left;
    transition-duration: 0.5s;
}

.icon(@height, @width) {
    transition-duration: 0.5s;
    position: absolute;
    height: @height;
    width: @width;
    top: 15px;
    background-color: @dark;
}

.icon-before(@height, @width, @top) {
    transition-duration: 0.5s;
    position: absolute;
    width: @width;
    height: @height;
    background-color: @dark;
    content: "";
    top: @top;
    left: 0;
}

.icon-after(@height, @width, @top) {
    transition-duration: 0.5s;
    position: absolute;
    width: @width;
    height: @height;
    background-color: @dark;
    content: "";
    top: @top;
    left: 0;
}

.menu-btn{
    transition-duration: 0.5s;
    width: 30px;
    height: 30px;
    position: relative;

    .icon-left {
        .icon(2px, 12px);

        &:before{
          .icon-before(2px, 12px, -9px);
        }

        &:after{
          .icon-after(2px, 12px, 9px);
        }

        &:hover{
          cursor: pointer;
        }
    }

    .icon-right {
        .icon(2px, 12px);
        left: 12px;

        &:before{
          .icon-before(2px, 12px, -9px);
        }

        &:after{
          .icon-after(2px, 12px, 9px);
        }
    }

    &.open {
        .icon-left {
            transition-duration: 0.5s;
            background: transparent !important;

            &:before{
                transform: rotateZ(45deg) scaleX(1.4) translate(2px, 2px);
            }

            &:after{
                transform: rotateZ(-45deg) scaleX(1.4) translate(2px, -2px);
            }
        }

        .icon-right {
            transition-duration: 0.5s;
            background: transparent !important;

            &:before{
                transform: rotateZ(-45deg) scaleX(1.4) translate(-2px, 2px);
            }

            &:after{
                transform: rotateZ(45deg) scaleX(1.4) translate(-2px, -2px);
            }
        }
    }

    &:hover {
        cursor: pointer;
    }
}
/* MENU */

@right-offset: 140px;
@sm-right-offset: 40px;
@blank-space: 180px;
@mb-blank-space: 75px;

#header-panel{
    position: absolute;
    left: 0;
    right: 0;
    z-index: 6;

    &.open{
        .navbar-header{
            margin-top: -42px;
            background-color: #000;
            position: relative;
            z-index: 2;
            padding-bottom: 10px;

            .navbar-toggle{
                margin-top: 0;
            }

            .navbar-brand{
                margin-top: 14px;
            }
        }
    }

    &.undermask-mobile{
        z-index: 2;
    }

    #header-top-panel{
        text-align: right;

        #header-top-menus{
            list-style: none;
            margin-right: -15px;

            > li{
                display: inline-block;

                + li{
                    border-left: 1px solid rgba(255, 255, 255, 0.4);
                }

                &:last-child{
                    > a{
                        padding-right: 0;
                    }
                }

                > a{
                    padding: 8px 0 2px;
                    text-align: center;
                    display: block;
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                    width: 50px;

                    > img{
                        height: 16px;

                        &.fb{
                            height: 20px;
                        }
                    }

                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
        }
    }

    .navbar-toggle{
        float: left;
        margin-left: 5px;
        margin-top: -42px;
        margin-right: 5px;
        z-index: 2;

        &.collapsed{
            > span{

            }
        }

        .menu-btn{
            .icon-right,
            .icon-left{
                background-color: #fff;

                &:after,
                &:before{
                    background-color: #fff !important;
                }
            }
        }

        span{
            background-color: #fff;
        }
    }

    .navbar-brand{
        position: relative;
        margin-top: -28px;
        padding: 0;
        width: auto;
        height: 36px;
        min-width: 65px;
        max-width: 120px;
        -webkit-animation-duration: 2.3s;
        animation-duration: 2.3s;
        z-index: 1;
    }

    #collapse-menu{
        font-family: "Akrobat";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 20px;
        // min-height: 100vh;
        // max-height: 100vh;
        height: 100vh;
        // height: auto !important;
        background-color: rgba(0, 0, 0, 1);
        margin: 0;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;

        > .navbar-nav{
            margin: 85px 0 0 40px;

            > li{
                &.open{
                    > a{
                        border-bottom: none !important;

                        &:after{
                            content: '';
                            width: 6px;
                            height: 6px;
                            border-radius: 50%;
                            display: inline-block;
                            vertical-align: middle;
                            background-color: @red-color-1;
                            margin-left: 10px;
                            -webkit-transition: all .5s ease;
                            transition: all .5s ease;
                        }
                    }
                }

                &.active{
                    > a{
                        border-bottom: 1px solid @red-color-1;
                    }
                }

                > a{
                    letter-spacing: 2px;
                    font-size: 24px;
                    display: block;
                    text-transform: uppercase;
                    padding: 12px 0;
                    background-color: transparent !important;
                    border-bottom: 1px solid #fff;

                    &:active,
                    &:focus,
                    &:hover{
                        background-color: transparent !important;
                    }
                }

                .dropdown-menu{
                    background-color: transparent;
                    box-shadow: none;
                    border: none;
                    border-top: 1px solid #fff;
                    padding: 5px 0 10px;
                    -webkit-transition: all .7s ease;
                    transition: all .7s ease;

                    > li{
                        margin-left: 30px;
                        border-bottom: 1px solid #fff;
                        -webkit-transition: all .25s ease;
                        transition: all .25s ease;

                        &:hover,
                        &.active{
                            border-bottom: 1px solid @red-color-1;

                            a{
                                background-color: transparent !important;
                            }
                        }
                    }

                    a{
                        letter-spacing: 2px;
                        padding: 7px 0;
                        font-size: 17px;

                        &:hover{
                            background-color: transparent;
                        }
                    }
                }
            }
        }

        a{
            color: #fff;
            font-size: 15px;
            font-weight: bold;
        }
    }
}

.nav-button-container{
    bottom: 10px;
    left: 10px;
    z-index: 5;
    position: fixed;

    .nav-button{
        color: #fff;
        display: inline-block;
        width: 40px;
        height: 40px;
        font-size: 40px;
        line-height: 36px;
        border: 2px solid #fff;
        background-color: rgba(255, 255, 255, 0.3);

        i{
            line-height: 36px;
        }
    }
}

.btn{
    border-radius: 2px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

    &.btn-circle{
        border-radius: 50%;
    }

    &.btn-primary{
        background: @primary-color;
        border-color: @primary-color;
        color: #fff;

        &:active{
            background: @primary-color;
            border-color: @primary-color;
        }
    }
}

.white-bg{
    background: #fff;

    &.tpr-50{
        background: rgba(255, 255, 255, 0.5);
    }

    &.tpr-85{
        background: rgba(255, 255, 255, 0.85);
    }
}

.content-page-panel{
    margin-top: 0;
    margin-bottom: 15px;
    padding: 50px 40px 0;

    &.type-1{
        padding: 50px 0 0;
    }
}

.content-panel-header{
    .content-panel-title{
        font-family: "Akrobat";
        font-weight: lighter;
        font-size: 26px;
        line-height: 1;
        margin-bottom: 20px;
        text-align: right;

        &:after{
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            display: inline-block;
            vertical-align: middle;
            background-color: @red-color-1;
            margin-left: 7px;
        }
    }
}

#main-slide{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;

    &:before{
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: @mb-blank-space;
        background: rgba(0, 0, 0, 0.5);
        z-index: 3;
    }

    #slide-paging{
        position: fixed;
        left: 0;
        width: 100%;
        bottom: @mb-blank-space;
        list-style: none;
        z-index: 5;
        -webkit-transition: all .7s ease;
        transition: all .7s ease;
        margin: 0 0 -6px;

        > li{
            width: 33.33%;
            display: inline-block;

            + li{
                margin-left: -6px;
            }

            > a{
                display: block;
                height: 2px;
                width: 100%;
                background-color: #fff;
                -webkit-transition: all .7s ease;
                transition: all .7s ease;
            }

            &.current{
                > a{
                    background-color: @red-color-1;
                }
            }
        }
    }

    > section{
        position: fixed;
        top: 0;
        right: 0;
        // bottom: 150px;
        bottom: 0;
        left: 0;
        width: 100%;
        // height: ~"calc(100% - 150px)";
        z-index: 1;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top center;
        overflow: hidden;
        -webkit-transition: all 1s cubic-bezier(.77, 0, .175, 1);
        transition: all 1s cubic-bezier(.77, 0, .175, 1);

        &.current{
            z-index: 3;

            .section-inner{
                .mask{
                    opacity: 0;
                }

                .btn-360{
                    opacity: 1;
                }

                .detail-btn{
                    opacity: 1;
                }

                .slide-name{
                    opacity: 1;
                }
            }
        }

        &.next{
            z-index: 1;

            .section-inner{
                .mask{
                    opacity: 1;
                }
            }
        }

        &.prev{
            z-index: 1;
        }

        .section-inner{
            position: relative;
            // height: 100%;
            height: ~"calc(100% - 75px)";
            background-size: cover;
            background-repeat: no-repeat;
            background-position: top center;
            overflow: hidden;
            -webkit-transition: all 1s cubic-bezier(.77, 0, .175, 1);
            transition: all 1s cubic-bezier(.77, 0, .175, 1);

            .mask{
                opacity: 0;
                position: absolute;
                top: 0;
                height: 100%;
                width: 100%;
                background: transparent;
                z-index: 1;
                overflow: hidden;
                -webkit-transition: all 1s ease;
                transition: all 1s ease;

                .mask-title{
                    float: right;
                    white-space: nowrap;
                    text-align: right;
                    opacity: 0.5;
                    color: #fff;
                    position: relative;
                    top: 60%;
                    right: 0;
                    font-size: 172px;
                    font-family: "Akrobat";
                    font-weight: bold;
                    line-height: 90px;
                }
            }

            .slide-logo{
                display: none;
                margin: 50px 45px;
                width: 10%;
                min-width: 80px;
                max-width: 120px;
                -webkit-animation-duration: 2.3s;
                animation-duration: 2.3s;
            }

            .detail-btn{
                opacity: 1;
                width: 50px;
                height: 50px;
                position: fixed;
                bottom: 10px;
                right: 0;
                left: 0;
                margin: auto;
                text-align: center;
                z-index: 2;
                border: 1px solid #fff;
                display: block;
                padding: 0;
                border-radius: 50%;
                // -webkit-transition: all .7s ease;
                // transition: all .7s ease;

                &:after{
                    content: '';
                    width: 1px;
                    height: 10px;
                    background: #fff;
                    display: block;
                    position: absolute;
                    left: 50%;
                }

                &:hover{
                    background-color: rgba(255, 255, 255, 0.3);
                }
            }

            .slide-name{
                opacity: 0;
                font-family: "Akrobat";
                font-size: 24px;
                font-weight: bold;
                color: #fff;
                bottom: 130px;
                right: @right-offset;
                text-shadow: 0 2px rgba(0, 0, 0, 0.7);
                -webkit-animation-duration: 1.2s;
                animation-duration: 1.2s;


                &:before{
                    content: '';
                    width: 5px;
                    height: 5px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 10px;
                    background-color: @red-color-1;
                }
            }

            .btn-360{
                opacity: 0;
                position: absolute;
                bottom: 25px;
                right: 15px;
                -webkit-animation-duration: 1.4s;
                animation-duration: 1.4s;
                z-index: 2;
            }

            .slide-content{
                position: absolute;
                top: auto;
                bottom: 0;
                left: 0;
                right: 0;
                padding: 15px;
                color: #fff;
                width: 500px;
                max-width: 100%;

                .slide-name{
                    &:before{
                        content: '';
                        width: 5px;
                        height: 5px;
                        border-radius: 50%;
                        display: block;
                        vertical-align: middle;
                        margin: 10px 0;
                        background-color: @red-color-1;
                    }
                }
            }

            .slide-title{
                font-family: "Akrobat";
                font-weight: lighter;
                font-size: 36px;
                letter-spacing: 2px;
                color: #fff;
                line-height: 1;
                -webkit-animation-duration: 1.2s;
                animation-duration: 1.2s;
                text-shadow: 0 2px rgba(0, 0, 0, 0.7);

                + .slide-description{
                    margin-top: 30px;
                }
            }

            .slide-description{
                font-family: "Prompt";
                font-weight: lighter;
                font-size: 14px;
                -webkit-animation-duration: 1.4s;
                animation-duration: 1.4s;
            }
        }
    }

    .mobile-extra-slide{
        position: fixed;
        top: ~"calc(100% - 75px)";
        width: 100%;
        height: @mb-blank-space;
        overflow: hidden;

        > section{
            position: absolute;
            top: -50%;
            right: 0;
            left: 0;
            width: 100%;
            height: 100vh;
            z-index: 1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
            overflow: hidden;
            -webkit-transition: all 1s cubic-bezier(.77, 0, .175, 1);
            transition: all 1s cubic-bezier(.77, 0, .175, 1);

            &.current{
                z-index: 3;

                .section-inner{
                    .mask{
                        opacity: 1;
                    }
                }
            }

            &.next{
                z-index: 1;
            }

            &.prev{
                z-index: 2;
            }

            .section-inner{
                position: relative;
                height: 100%;

                .mask{
                    opacity: 0;

                    .mask-title{
                        white-space: nowrap;
                        text-align: right;
                        opacity: 0.5;
                        color: #fff;
                        position: absolute;
                        top: 10%;
                        right: 60%;
                        font-size: 112px;
                        font-family: "Akrobat";
                        font-weight: bold;
                        line-height: 90px;
                    }
                }
            }
        }
    }
}

.view-360-page{
    background-size: cover;
    background-position: center center;
    min-height: 100vh;
    // position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 4;

    &:before{
        content: '';
        background-color: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }

    > .container{
        padding: 0;
    }

    #view-360-panel{
        position: relative;
        z-index: 2;
        width: 100%;
        min-height: 100vh;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        padding: 90px 0 20px;
        margin-top: 0;
        margin-bottom: 0;
        overflow: hidden;

        > .container{
            // padding: 0;
        }

        .image-wrapper{
            position: relative;
            height: 100%;
            display: inline-block;
            -webkit-user-select: none;  /* Chrome all / Safari all */
            -moz-user-select: none;     /* Firefox all */
            -ms-user-select: none;      /* IE 10+ */
            user-select: none;          /* Likely future */

            // #image{
            //     max-width: none;
            //     max-height: none;
            // }

            #image-mask{
                position: absolute;
                width: 100%;
                height: 100%;
                cursor: move;
                -webkit-user-select: none;  /* Chrome all / Safari all */
                -moz-user-select: none;     /* Firefox all */
                -ms-user-select: none;      /* IE 10+ */
                user-select: none;          /* Likely future */
            }
        }

        .btn-more-detail{
            position: absolute;
            z-index: 2;
            border: 1px solid #fff;
            width: 18px;
            height: 18px;
            border-radius: 50%;
            display: block;
            background-color: rgba(255, 255, 255, 0.3);
            text-align: center;
            // -webkit-transition: all .3s ease;
            // transition: all .3s ease;

            &:after{
                content: '';
                display: block;
                width: 6px;
                height: 6px;
                background-color: #fff;
                border-radius: 50%;
                margin: 5px auto 0;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
            }

            &:hover{
                &:after{
                    background-color: @red-color-1;
                }
            }
        }

        #nav-panel{
            margin-top: 20px;
            height: 20px;
            position: relative;
            z-index: 1;

            .nav-btn{
                position: absolute;
                font-family: "Akrobat";
                font-size: 14px;
                color: #fff;
                display: block;
                text-transform: uppercase;

                > img{
                    width: 24px;
                    -webkit-transition: all 0.2s ease;
                    transition: all 0.2s ease;
                }

                &.prev{
                    left: 15px;

                    > img{
                        margin-right: 10px;
                    }

                    &:hover{
                        > img{
                            margin-right: 15px;
                        }
                    }
                }

                &.next{
                    right: 15px;

                    > img{
                        margin-left: 10px;
                    }

                    &:hover{
                        > img{
                            margin-left: 15px;
                        }
                    }
                }
            }
        }

        #customize-panel{
            height: auto;
            width: 230px;
            position: absolute;
            right: 0;
            left: 50%;
            margin-left: -115px;
            bottom: 0;
            text-align: left;
            padding: 15px;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            z-index: 2;

            &.open{
                width: 100%;
                position: fixed;
                margin-top: 0;
                height: 100%;
                top: 0;
                left: 0;
                margin-left: 0;
                background-color: rgba(255, 255, 255, 0.9);

                > .title-panel{
                    width: 281px;

                    &:after{
                        display: block;
                    }

                    > .title{
                        color: @text-color;
                        font-size: 36px;

                        &:after{
                            content: '\f107';
                            border: 1px solid @text-color;
                        }
                    }

                    > .subtitle{
                        display: block;
                    }
                }

                .component-list-container{
                    display: block;
                }

                > .button-panel{
                    display: block;
                }
            }

            > .title-panel{
                width: 200px;
                margin: auto;

                &:after{
                    content: '';
                    width: 30px;
                    height: 2px;
                    background-color: @red-color-1;
                    margin: 20px 0;
                    display: none;
                }

                > .title{
                    font-family: "Akrobat";
                    font-weight: lighter;
                    font-size: 20px;
                    color: #fff;
                    position: relative;
                    display: block;
                    margin: auto;

                    &:after{
                        content: '\f106';
                        font-family: "FontAwesome";
                        font-size: 16px;
                        line-height: 21px;
                        border-radius: 50%;
                        width: 24px;
                        height: 24px;
                        display: block;
                        position: absolute;
                        top: 4px;
                        right: 0;
                        border: 1px solid #fff;
                        text-align: center;
                    }
                }

                > .subtitle{
                    font-size: 13px;
                    font-family: "Prompt";
                    font-weight: lighter;
                    display: none;
                }
            }

            .component-list-container{
                margin: auto;
                display: none;
                position: relative;
                max-height: ~"calc(100% - 100px - 50px);";
                overflow-y: auto;
                width: 281px;

                .component-list-panel{
                    > .title{
                        font-family: "Prompt";
                        font-weight: bold;
                        font-size: 11px;
                        padding-bottom: 5px;
                        border-bottom: 1px solid #757575;
                        margin-bottom: 10px;
                    }

                    .component-list{
                        list-style: none;

                        > li{
                            display: inline-block;
                            vertical-align: top;
                            margin-bottom: 10px;
                            -webkit-transition: all .7s ease;
                            transition: all .7s ease;
                            width: 86px;

                            &.active,
                            &:hover{
                                > a{
                                    border: 2px solid @red-color-1;
                                }
                            }

                            > a{
                                border: 2px solid transparent;
                                display: block;
                                width: 86px;
                                height: 86px;
                                background-color: #ddd;
                                background-size: cover;
                                background-position: center center;
                            }

                            .title{
                                margin-top: 5px;
                                font-size: 12px;
                            }
                        }
                    }
                }
            }

            > .button-panel{
                background-color: #fff;
                padding: 12px 15px 10px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                display: none;

                #customize-confirm-btn{
                    text-transform: uppercase;
                    font-family: "Akrobat";
                    font-weight: bold;
                    font-size: 16px;
                    color: @text-color;
                    border: 1px solid @text-color;
                    border-radius: 50px;
                    min-width: 120px;
                    padding: 2px 10px;
                }
            }
        }
    }
}

#images-playground{
    > img{
        max-width: none;
        max-height: none;
    }
}

#image-dialog{
    .container{
        padding: 0;

        .modal-dialog{
            width: 100%;
            margin: 0;
            border: none;
            border-radius: 0;

            .modal-content{
                background-color: #000;
                height: 100vh;
                position: fixed;
                left: 0;
                right: 0;

                .close{
                    position: absolute;
                    top: 20px;
                    right: 15px;
                    width: 20px;
                    height: 20px;
                    display: block;
                    background-image: url('../images/close-icon-white.png');
                    background-size: 100% auto;
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                    opacity: .8;
                    z-index: 2;
                }

                .model-name{
                    position: absolute;
                    top: 8px;
                    left: 15px;
                    font-size: 32px;
                    color: #fff;
                    font-family: "Akrobat";
                    z-index: 2;
                }

                .item{
                    height: 100vh;
                }

                .img-wrapper{
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    transform: translateY(-50%);
                    // height: 100%;
                    text-align: center;

                    img{
                        // width: 100%;
                        width: auto;
                        margin: auto;
                    }
                }

                .owl-dots{
                    top: 60px;
                    left: 10px;
                    bottom: auto;
                    text-align: left;
                }
            }
        }
    }
}

@detail-dialog-min-height: 350px;

#detail-dialog{
    .container{
        padding: 0;

        .modal-dialog{
            width: 100%;
            margin: 0;
            border: none;
            border-radius: 0;

            .modal-content{
                min-height: @detail-dialog-min-height;
                border: none;
                border-radius: 0;

                .close{
                    position: absolute;
                    top: @detail-dialog-min-height + 20px;
                    right: 15px;
                    width: 20px;
                    height: 20px;
                    display: block;
                    background-image: url('../images/close-icon.png');
                    background-size: 100% auto;
                    -webkit-transition: all .3s ease;
                    transition: all .3s ease;
                    opacity: .8;
                    z-index: 2;
                }

                .owl-dots{
                    top: 15px;
                    right: 15px;
                    left: auto;
                    bottom: auto;
                }

                .media-col{
                    background-color: #000;
                    min-height: @detail-dialog-min-height;
                    width: 100%;

                    .owl-item{
                        height: @detail-dialog-min-height;
                    }

                    .item{
                        height: 100%;
                        background-size: cover;
                        background-position: center center;
                    }
                }

                .content-col{
                    padding: 20px 25px;
                    position: relative;
                    min-height: ~"calc(100vh - 350px)";

                    .title{
                        font-family: "Akrobat";
                        font-size: 40px;
                        line-height: 1;
                        margin-top: 20px;
                        margin-bottom: 10px;
                    }

                    .subtitle{
                        font-size: 13px;
                        color: #aaa;
                        margin-bottom: 20px;
                    }

                    .description{
                        // font-family: "Akrobat";
                        font-size: 14px;

                        &:before{
                            content: '';
                            width: 8px;
                            height: 8px;
                            display: block;
                            border-radius: 50%;
                            background-color: @red-color-1;
                            margin: 20px 0;
                        }

                        ul{
                            margin-left: 20px;
                        }

                        p{
                            + p{
                                margin-top: 20px;
                            }
                        }

                        .description-title{
                            font-size: 16px;
                            margin-bottom: 8px;
                        }

                        .description-content{

                        }
                    }
                }
            }
        }
    }
}

.owl-carousel{
    .owl-stage-outer{
        margin-bottom: 0;
    }
}

.owl-nav{
    margin: 0 !important;

    .slide-arrow{
        width: 36px;
        height: 36px;
        display: block;
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center center;
        background-color: transparent;

        &.prev{
            left: 0;
            background-image: url('../images/left-arrow.png');
        }

        &.next{
            right: 0;
            background-image: url('../images/right-arrow.png');
        }
    }

    > div{
        position: absolute;
        top: 50%;
        margin: 0 !important;
        margin-top: -18px !important;
        background-color: transparent !important;

        &.owl-next{
            right: 0;
        }

        &.owl-prev{
            left: 0;
        }
    }
}

.owl-dots{
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;

    .owl-dot{
        > span{
            border-radius: 50%;
            border: 0;
            background-color: rgba(255, 255, 255, 0.35) !important;
        }

        &.active{
            > span{
                background: #fff !important;
            }
        }
    }
}

.btn-360{
    border-radius: 50%;
    border: 1px solid #fff;
    width: 50px;
    height: 50px;
    display: block;
    -webkit-transition: all .7s ease;
    transition: all .7s ease;
    background-image: url('../images/360-btn-text.png');
    background-size: auto 38px;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);

    &:hover{
        background-color: rgba(255, 255, 255, 0.3);
    }

    &.btn-red{
        background-color: @red-color-1;
        background-image: url('../images/360-btn-text-white.png');

        &:hover{
            background-color: #ccc;
        }
    }
}

#home-page{
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #eee;
    overflow: hidden;
}

#model-page{
    background-color: #ddd;
    height: 100vh;
    height: auto;

    .gallery-image-container{
        // height: ~"calc(100% - 78px)";
        height: 100%;
        width: 100%;
        -webkit-transition: all .5s ease;
        transition: all .5s ease;
        background-size: cover;
        background-position: top center;
    }
}

.kitchen-model-content,
#kitchen-model-content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    // min-height: 135px;
    background-color: #fff;
    padding: 5px 0 10px;

    > .container{
        position: relative;
    }

    .model-name{
        position: absolute;
        font-family: "Akrobat Thin";
        font-weight: normal;
        font-size: 120px;
        color: #fff;
        right: 0;
        top: 0;
        line-height: 1;
        margin-top: -122px;
    }

    .gallery-label-wrapper{
        font-family: "Akrobat Bold";
        font-weight: normal;
        font-size: 16px;
        color: #666;
        display: block;
        margin-bottom: 10px;
    }

    .gallery-image-list{
        list-style: none;
        display: inline-block !important;
        vertical-align: middle;
        margin: 0;
        // text-align: center;

        li{
            display: inline-block;

            + li{
                margin-left: 5px;
            }

            &.active{
                > a{
                    &:before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        right: 0;
                        bottom: 0;
                        background-color: rgba(255, 255, 255, 0.5);
                        z-index: 2;
                    }
                }

                &:after{
                    opacity: 1;
                }
            }

            &:after{
                content: '';
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: @red-color-1;
                margin-top: 15px;
                display: block;
                margin: 15px auto 0;
                opacity: 0;
                display: none;
            }

            > a{
                position: relative;
                display: block;
                border-radius: 50%;
                background-color: #ddd;
                width: 60px;
                height: 60px;
                background-size: cover;
                background-position: center center;
            }
        }
    }

    .detail-text{
        display: inline-block;
        vertical-align: top;
        font-weight: lighter;
        width: ~"calc(100% - 110px)";
    }

    .btn-360-wrapper{
        width: 100px;
        text-align: right;
        display: inline-block;
        vertical-align: top;

        .btn-360{
            display: inline-block;
            margin: 0;
        }
    }
}

#location-page{
    background-image: url('../images/location-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    min-height: 100vh;

    #location-panel{
        padding-left: 0;
        padding-right: 0;

        .content-panel-title{
            color: #fff;
        }

        .content-panel-body{
            background-color: rgba(255, 255, 255, 0.85);
            padding: 0 25px;

            position: fixed;
            top: 90px;
            overflow-y: auto;
            overflow-x: hidden;
            left: 15px;
            right: 15px;
            bottom: 15px;
        }

        .location-item-col{
            &:last-child{
                .location-item{
                    border-bottom: none;
                }
            }
        }

        .location-item{
            font-family: "Akrobat";
            font-size: 16px;
            line-height: 1.4;
            padding: 25px 0;
            border-bottom: 1px dotted @text-color;

            .location-name{
                font-family: "Akrobat Bold";
                font-weight: normal;
                font-size: 18px;
                margin-bottom: 10px;
            }

            .location-address{
                font-weight: lighter;
                margin-bottom: 7px;
            }

            .location-address-th{
                font-family: "Prompt";
                font-size: 13px;
                font-weight: lighter;
                margin-bottom: 10px;
            }

            .location-contact{
                .label-text{
                    font-family: "Akrobat Bold";
                    font-weight: normal;
                }
            }

            .view-map-link{
                display: inline-block;
                margin-top: 15px;
                font-family: "Akrobat Bold";
                font-weight: normal;
                text-transform: uppercase;
                font-size: 14px;
                color: #999;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;

                i{
                    font-size: 16px;
                    margin-right: 5px;
                }

                &:hover{
                    color: @red-color-1;
                }
            }
        }
    }
}

textarea,
input{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}


textarea,
input[type="tel"],
input[type="email"],
input[type="text"]{
    cursor: text;

    &.form-control{
        border-radius: 0;
        padding: 10px 15px;
        height: auto;
        font-size: 16px;
    }

    &.type-1{
        background-color: rgba(255, 255, 255, 0.25);
        color: #fff;

        &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
            color: #fff;
            line-height: normal;
        }

        &::-moz-placeholder { /* Firefox 19+ */
            color: #fff;
            line-height: normal;
        }

        &:-ms-input-placeholder { /* IE 10+ */
            color: #fff;
            line-height: normal;
        }

        &:-moz-placeholder { /* Firefox 18- */
            color: #fff;
            line-height: normal;
        }

        &:focus{
            border-color: #fff;
        }
    }

    &.eng{
        font-family: "Akrobat";
        line-height: 1;
    }

    &:focus{
        outline: none !important;
        box-shadow: none !important;
    }

    &.error{
        border-color: @red-color-1 !important;

        &:focus{
            border-color: @red-color-1 !important;
        }
    }
}

form{
    .remark{
        &.eng{
            font-family: "Akrobat";
            font-size: 14px;
        }

        + input{
            margin-top: 5px;
        }
    }
}

b{
    &.en{
        font-family: "Akrobat Bold";
    }
}

.row{
    &.narrow{
        margin-left: -7px;
        margin-right: -7px;

        > [class*="col-"]{
            padding-left: 7px;
            padding-right: 7px;
        }
    }

    &.no-gap{
        margin-left: 0;
        margin-right: 0;

        > [class*="col-"]{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.text-uppercase{
    text-transform: uppercase;
}

.text-1{
    font-size: 28px;
    font-family: "Akrobat Bold";
    font-weight: normal;
}

.page-menus{
    list-style: none;
    margin-bottom: 20px;

    > li{
        display: inline-block;
        opacity: .6;
        border-left: 1px solid #fff;
        padding: 0 15px;
        -webkit-transition: all .3s ease;
        transition: all .3s ease;

        &.active{
            opacity: 1;
            border-left-color: @red-color-1;

            > a{
                text-shadow: 0 2px rgba(0, 0, 0, 0.7);
            }
        }

        &:hover{
            opacity: 1;
        }

        > a{
            display: block;
            color: #fff;
            font-family: "Akrobat";
            font-size: 20px;
            line-height: 1;
        }
    }
}

#accessaries-panel,
#standard-panel{
    padding-top: 80px;
}

#spec-menu-dropdown{
    > .dropdown{
        &.open{
            > a{
                &:after{
                    content: '\f0d8';
                }
            }
        }

        > a{
            &:after{
                font-size: 12px;
                content: '\f0d7';
                font-family: "FontAwesome";
                margin-left: 10px;
                display: inline-block;
                vertical-align: middle;
            }
        }

        > .dropdown-menu{
            border-radius: 0;
            margin-top: 10px;
            margin-left: -2px;

            > li{
                &.active{
                    > a{
                        background: transparent;
                        color: @text-color;
                        opacity: 1;

                        &:after{
                            opacity: 1;
                        }
                    }
                }

                > a{
                    font-family: "Akrobat";
                    font-size: 18px;
                    opacity: 0.7;
                    min-width: 220px;
                    position: relative;

                    &:after{
                        opacity: 0;
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        right: 10px;
                        margin-top: -3px;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        background-color: @red-color-1;
                    }
                }
            }
        }
    }
}

.spec-item{
    background-color: #fff;
    font-family: "Akrobat";
    font-size: 16px;

    + .spec-item{
        margin-top: 20px;
    }

    .image-col{
        height: 300px;
    }

    .image-col{
        .image-col-inner{
            height: 100%;

            .item-image{
                height: 100%;
                width: 100%;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: top center;
                background-color: #ddd;

                &.default-image{
                    background-size: 200px auto;
                    background-position: center center;
                }
            }

            > img{
                border: 5px solid #fff;
            }
        }
    }

    .content-col{
        .content-col-inner{
            padding: 20px;
            position: relative;
            min-height: 100px;

            .title{
                font-family: "Akrobat Bold";
                font-weight: normal;
                font-size: 18px;
                text-transform: uppercase;
                letter-spacing: 1.5px;
                color: #666;
                margin-bottom: 30px;
            }

            .content{
                ul{
                    margin-left: 20px;
                }
            }
        }
    }
}

.dot-menu-btn{
    background-image: url('../images/dot-menu-icon.png');
    background-size: 26px auto;
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;

    &:hover{
        opacity: 1;
    }
}

#specification-option-page,
#specification-standard-page{
    background-image: url('../images/standard-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    min-height: 100vh;
}

#spec-dropdown-menu{
    margin-top: 6px;
    margin-right: -2px;
    border-radius: 0;
    width: 280px;
    padding: 15px 15px 0;
    // width: 100%;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;

    .spec-menu-item{
        height: 60px;
        background-color: #fff;
        font-family: "Akrobat Bold";
        font-weight: normal;
        font-size: 14px;
        margin-bottom: 15px;

        .spec-menu-item-inner{
            height: 100%;

            .image-col{
                height: 100%;

                .image-col-inner{
                    height: 100%;

                    .item-image{
                        height: 100%;
                        width: 100%;
                        background-repeat: no-repeat;
                        background-size: cover;
                        background-color: #ddd;

                        &.default-image{
                            background-size: 60% auto;
                            background-position: center center;
                        }
                    }

                    > img{
                        border: 5px solid #fff;
                    }
                }
            }

            .content-col{
                height: 100%;

                .content-col-inner{
                    position: relative;
                    height: 100%;
                    padding: 0 15px;
                    text-align: right;

                    .title{
                        text-transform: uppercase;
                        color: #666;
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }
}

#download-page{
    background-image: url('../images/download-bg.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: top center;
    min-height: 100vh;

    #download-panel{
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .content-panel-body{
        position: fixed;
        top: 165px;
        overflow-y: auto;
        overflow-x: hidden;
        left: 15px;
        right: 15px;
        bottom: 15px;
    }

    #subscription-form{
        margin-top: -10px;
        margin-bottom: 20px;

        .input-wrapper{
            position: relative;
            margin-top: 5px;
        }

        #email-textbox{
            padding-right: 40px;
        }

        #subscribe-button{
            position: absolute;
            right: 5px;
            top: 5px;
            background-color: rgba(255, 255, 255, 0.25);
            border: 1px solid #fff;
            color: #fff;
            font-size: 16px;
            line-height: 1;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;

            &:hover{
                border-color: #333;
                background-color: #333;
            }
        }
    }

    .download-item{
        font-family: "Akrobat";
        font-size: 14px;
        color: @text-color;
        background-color: #fff;
        display: block;
        margin-bottom: 20px;
        line-height: 1.2;
        position: relative;

        &:hover{
            .download-content{
                &:after{
                    opacity: 1;
                }
            }

            .download-image{
                .mask{
                    opacity: 1;
                }
            }
        }

        .download-image{
            background-color: #ddd;
            background-size: cover;
            background-position: center center;
            position: relative;

            .mask{
                background-color: rgba(0, 0, 0, 0.7);
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
                color: #fff;
                text-align: center;
                font-size: 22px;
                border: 4px solid #fff;
                z-index: 2;
                opacity: 0;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;

                .mask-content{
                    text-align: center;
                    left: 0;
                    right: 0;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }

        .download-content{
            padding: 15px 10px;
            text-align: center;
            min-height: 70px;

            &:after{
                content: '';
                width: 40px;
                height: 2px;
                background-color: @red-color-1;
                display: block;
                margin: 10px auto 5px;
                text-align: center;
                opacity: 0;
                -webkit-transition: all .3s ease;
                transition: all .3s ease;
            }
        }

        .download-title{
            font-family: "Akrobat Bold";
            font-weight: normal;
            margin-bottom: 5px;
        }

        .download-issue{
            font-weight: lighter;
        }
    }
}

.detail-mask-panel,
#detail-mask-panel{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    background-color: #fff;
    -webkit-animation-duration: .75s;
    animation-duration: .75s;

    .model-container{
        background-color: #ddd;
        height: 100%;

        .gallery-image-container{
            position: relative;
            // height: ~"calc(100% - 78px)";
            height: 100%;
            width: 100%;
            -webkit-transition: all .5s ease;
            transition: all .5s ease;
            background-size: cover;
            background-position: top center;

            &.fullscreen{
                height: 100%;
            }

            .mobile-model-content-mask{
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.2);
            }

            .mobile-model-content{
                color: #fff;
                padding: 15px;
                position: absolute;
                bottom: 0;

                &.open{
                    .detail-content{
                        .detail-text{
                            height: auto;
                        }

                        .expand-text-btn{
                            margin-top: 10px;

                            &:before{
                                content: 'Show Less';
                            }
                        }
                    }
                }

                .model-name{
                    font-family: "Akrobat";
                    font-weight: lighter;
                    font-size: 40px;
                    color: #fff;
                    right: 0;
                    top: 0;
                    line-height: 1;
                    text-shadow: 0 2px rgba(0, 0, 0, 0.7);

                    &:after{
                        content: '';
                        width: 6px;
                        height: 6px;
                        display: block;
                        border-radius: 50%;
                        background-color: @red-color-1;
                        margin: 5px 0 0;
                    }
                }

                .fullscreen-btn{
                    display: inline-block;
                    font-family: "Akrobat";
                    font-weight: bold;
                    font-size: 12px;
                    color: #fff;
                    position: absolute;
                    bottom: 15px;
                    left: 50%;
                    transform: translateX(-50%);
                }

                .detail-content{
                    display: inline-block;
                    vertical-align: bottom;
                    width: ~"calc(100% - 78px)";

                    .detail-text{
                        margin-top: 5px;
                        font-weight: lighter;
                        // width: 100%;
                        // height: 2.8em;
                        height: 0;
                        overflow: hidden;
                        -webkit-transition: all 0.25s ease;
                        transition: all 0.25s ease;
                    }

                    .expand-text-btn{
                        color: #fff;
                        // margin-top: 5px;
                        display: inline-block;

                        &:before{
                            content: 'More Details';
                            font-family: "Akrobat";
                            font-weight: bold;
                            font-size: 12px;
                            text-transform: uppercase;
                        }
                    }
                }

                .btn-360-wrapper{
                    width: 100px;
                    text-align: right;
                    // display: inline-block;
                    vertical-align: bottom;

                    .btn-360{
                        display: inline-block;
                        margin: 0;
                        position: absolute;
                        bottom: 15px;
                        right: 15px;
                    }
                }
            }
        }
    }
}

#landscape-mask{
    background-image: url('../images/rotate.png');
    background-color: rgba(255, 255, 255, 1);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 30% auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1060;
    display: none;
}

.modal{
    .modal-dialog{
        .modal-content{
            overflow: hidden;
            border-radius: 2px;

            .modal-header{
                .close{
                    font-size: 36px;
                    font-weight: 300;
                    line-height: 24px;
                }

                .modal-title{
                    font-weight: bold;
                    font-family: "Akrobat";
                }
            }

            .modal-body{
                min-height: 100px;
            }

            .modal-footer{
                border: none;
                background: #fafafa;

                &.text-center{
                    text-align: center;
                }

                .btn{
                    min-width: 120px;
                }
            }
        }
    }
}

@media(min-width: @screen-i5-portrait-min){
    .kitchen-model-content,
    #kitchen-model-content{
        .gallery-image-list{
            li{
                + li{
                    margin-left: 5px;
                }

                &.active{
                    > a{
                        &:before{
                            content: '';
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            background-color: rgba(255, 255, 255, 0.5);
                            z-index: 2;
                        }
                    }
                }

                > a{
                    width: 48px;
                    height: 48px;
                }
            }
        }
    }
}

/* iPhone X */
@media(width: 812px) and (height: 375px){
    body.open-customize, body.open-menu{
        position: relative !important;
    }

    body.show-detail .navbar-brand{
        -webkit-transition: all 1s cubic-bezier(.77, 0, .175, 1);
        transition: all 1s cubic-bezier(.77, 0, .175, 1);
        position: fixed !important;
        left: 20px !important;
    }

    // #home-page #main-slide:before{
    //     width: 120px !important;
    // }

    // #home-page #main-slide #slide-paging{
    //     left: 120px !important;
    // }

    #home-page #main-slide section{
        width: ~"calc(100% - 120px)" !important;
    }

    #header-panel .navbar-brand{
        height: 55px !important;
    }

    #home-page #main-slide section .section-inner .slide-title{
        font-size: 42px !important;
    }

    .kitchen-model-content .model-name, #kitchen-model-content .model-name{
        font-size: 70px !important;
        margin-top: -80px !important;
    }
}

@min-width-sm: 1000px;

@media(min-width: @screen-sm-min){
    #drag-mask{
        display: block;
    }

    #loading-panel{
        .img-wrapper,
        .loading-icon,
        img{
            margin: -32px auto 0;
        }

        .img-wrapper{
            width: 120px;
            height: 120px;
            > img{
                margin-top: 15px !important;
            }
        }
    }

    #drag-screen-mask{
        position: absolute;

        > img{
            width: 200px;
            margin: -68px auto 0;
        }
    }

    .vertical-alignment-helper {
        height: 100%;
        // width: 100%;
        position: relative;
    }

    .vertical-align-center {
        position: relative;
        top: 50%;
        transform: translateY(-50%) !important;
    }

    .btn-360{
        width: 70px;
        height: 70px;
        background-size: auto 50px;
    }

    body{
        // min-width: @min-width-sm;

        &.home-page{
            #header-panel{
                position: fixed;
                left: @blank-space + 2;
                margin-left: 15px;

                .navbar-brand{
                    // width: 40%;
                    // margin-left: @blank-space + 45px;
                    margin-left: 20px;
                }

                #header-top-panel{
                    #header-top-menus{
                        margin-right: @sm-right-offset - 15px;
                    }
                }

                #collapse-menu{
                    min-height: auto;
                    height: auto;
                    margin-right: @sm-right-offset - 15px;
                }
            }
        }

        &.view-360-page{
            #header-panel{
                #header-top-panel{
                    #back-to-main-btn{
                        margin: 20px 0 15px;
                        opacity: 0.8;
                    }

                    .model-name{
                        font-size: 60px;
                    }
                }

                .navbar-brand{
                    margin-top: -39px;
                    margin-left: 0;

                    &:after{
                        right: -20px;
                    }
                }
            }
        }

        &.download-page,
        &.location-page{
            position: relative;
        }

        &.open-customize{
            position: relative;
        }
    }

    .content-page-panel{
        margin-top: 150px;
        margin-bottom: 30px;
        padding: 50px 40px;

        &.type-1{
            padding: 50px 0;
        }
    }

    .content-panel-header{
        .content-panel-title{
            font-size: 52px;
            line-height: 1;
            margin-bottom: 30px;
            text-align: left;

            &:after{
                content: '';
                width: 7px;
                height: 7px;
                border-radius: 50%;
                display: inline-block;
                vertical-align: middle;
                background-color: @red-color-1;
                margin-left: 24px;
            }
        }
    }

    #header-panel{
        // min-width: @min-width-sm;

        &.undermask-mobile{
            z-index: 6;
        }

        #header-top-panel{
            #header-top-menus{
                margin-right: 0;
            }
        }

        .navbar-brand{
            width: 100%;
            height: auto;
        }

        #collapse-menu{
            position: relative;
            background-color: transparent;
            padding: 0;

            > .navbar-nav{
                margin: 20px 0 0;

                > li{
                    + li{
                        margin-left: 10px;

                        &:before{
                            content: '';
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            vertical-align: middle;
                            margin-top: -3px;
                            margin-right: 10px;
                            display: inline-block;
                            background-color: #fff;
                        }

                        .dropdown-menu{
                            margin-left: 15px;
                        }
                    }

                    &.open{
                        > a{
                            &:after{
                                display: none;
                            }
                        }
                    }

                    > a{
                        letter-spacing: 0;
                        font-size: 15px;
                        display: inline-block;
                        padding: 0 0 5px;
                        border-bottom: 0;
                    }

                    .dropdown-menu{
                        padding: 0;

                        > li{
                            margin-left: 0;
                        }

                        a{
                            letter-spacing: 0;
                            padding: 3px 0;
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }

    #home-page{
        // min-width: @min-width-sm;

        #main-slide{
            // min-width: @min-width-sm;

            &:before{
                top: 0;
                bottom: auto;
                height: 100%;
                width: @blank-space;
            }

            #slide-paging{
                left: @blank-space;
                height: 100%;
                width: auto;
                bottom: 0;
                margin: 0;

                > li{
                    width: auto;
                    height: 33.33%;
                    display: block;

                    + li{
                        margin-left: 0;
                    }

                    > a{
                        width: 2px;
                        height: 100%;
                    }

                    &.current{
                        > a{
                            background-color: @red-color-1;
                        }
                    }
                }
            }

            section{
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: ~"calc(100% - 180px)" !important;
                height: 100%;
                z-index: 1;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: top center;
                overflow: hidden;
                -webkit-transition: all 1s cubic-bezier(.77, 0, .175, 1);
                transition: all 1s cubic-bezier(.77, 0, .175, 1);

                &.current{
                    z-index: 3;

                    .section-inner{
                        .mask{
                            opacity: 0;
                        }

                        .btn-360{
                            opacity: 1;
                        }

                        .detail-btn{
                            opacity: 1;
                        }

                        .slide-name{
                            opacity: 1;
                        }
                    }
                }

                &.next{
                    z-index: 1;

                    .section-inner{
                        .mask{
                            opacity: 1;
                        }
                    }
                }

                &.prev{
                    z-index: 1;
                }

                .section-inner{
                    position: relative;
                    height: 100%;

                    .mask{
                        opacity: 0;
                        position: absolute;
                        top: 0;
                        height: 100%;
                        width: 100%;
                        background: transparent;
                        z-index: 1;
                        overflow: hidden;
                        -webkit-transition: all 1s ease;
                        transition: all 1s ease;

                        .mask-title{
                            float: right;
                            white-space: nowrap;
                            text-align: right;
                            opacity: 0.5;
                            color: #fff;
                            position: relative;
                            top: 60%;
                            right: 0;
                            font-size: 172px;
                            font-family: "Akrobat";
                            font-weight: bold;
                            line-height: 90px;
                        }
                    }

                    .slide-logo{
                        display: none;
                        margin: 50px 45px;
                        width: 10%;
                        min-width: 80px;
                        max-width: 120px;
                        -webkit-animation-duration: 2.3s;
                        animation-duration: 2.3s;
                    }

                    .detail-btn{
                        opacity: 0;
                        width: 60px;
                        height: 60px;
                        position: fixed;
                        bottom: 20px;
                        right: 0;
                        left: -@blank-space;
                        margin: auto;
                        text-align: center;
                        z-index: 2;
                        border: 1px solid #fff;
                        display: block;
                        padding: 0;
                        border-radius: 50%;
                        -webkit-transition: all .7s ease;
                        transition: all .7s ease;

                        &:after{
                            content: '';
                            width: 1px;
                            height: 20px;
                            background: #fff;
                            display: block;
                            position: absolute;
                            left: 50%;
                        }

                        &:hover{
                            background-color: rgba(255, 255, 255, 0.3);
                        }
                    }

                    .slide-name{
                        opacity: 0;
                        font-family: "Akrobat";
                        font-size: 28px;
                        font-weight: bold;
                        color: #fff;
                        position: absolute;
                        bottom: 130px;
                        right: @sm-right-offset;
                        text-shadow: 0 2px rgba(0, 0, 0, 0.7);
                        -webkit-animation-duration: 1.2s;
                        animation-duration: 1.2s;

                        &:before{
                            content: '';
                            width: 5px;
                            height: 5px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-right: 10px;
                            background-color: @red-color-1;
                        }
                    }

                    .btn-360{
                        opacity: 0;
                        position: absolute;
                        bottom: 45px;
                        right: @sm-right-offset;
                        -webkit-animation-duration: 1.4s;
                        animation-duration: 1.4s;
                    }

                    .slide-content{
                        position: absolute;
                        top: auto;
                        bottom: 0;
                        left: 0;
                        right: 0;
                        padding: 45px 36px;
                        color: #fff;
                        width: 500px;
                        max-width: 100%;
                    }

                    .slide-title{
                        font-family: "Akrobat";
                        font-weight: lighter;
                        font-size: 72px;
                        letter-spacing: 3px;
                        color: #fff;
                        line-height: 1;
                        -webkit-animation-duration: 1.2s;
                        animation-duration: 1.2s;
                        text-shadow: 0 2px rgba(0, 0, 0, 0.7);

                        + .slide-description{
                            margin-top: 30px;
                        }
                    }

                    .slide-description{
                        font-family: "Prompt";
                        font-weight: lighter;
                        font-size: 14px;
                        -webkit-animation-duration: 1.4s;
                        animation-duration: 1.4s;
                    }
                }
            }
        }
    }

    #model-page{
        .gallery-image-container{
            height: ~"calc(100% - 125px)";
            background-position: bottom center;
        }
    }

    #location-page{
        #location-panel{
            background-color: rgba(255, 255, 255, 0.85);
            padding: 60px 40px;

            .content-panel-title{
                color: @text-color;
            }

            .content-panel-body{
                background-color: transparent;
                padding: 0;

                position: relative;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
            }

            .location-item-col{
                &:first-child + .location-item-col + .location-item-col,
                &:first-child + .location-item-col,
                &:first-child{
                    .location-item{
                        border-top: 1px dotted @text-color;
                    }
                }

                &:last-child{
                    .location-item{
                        border-bottom: 1px dotted @text-color;
                    }
                }
            }

            .location-item{
                font-size: 16px;
                line-height: 1.4;
                padding: 25px 0;
                border-bottom: 1px dotted @text-color;

                .location-name{
                    font-size: 18px;
                    margin-bottom: 10px;
                }

                .location-address{
                    font-weight: lighter;
                    margin-bottom: 7px;
                }

                .view-map-link{
                    margin-top: 15px;
                    font-size: 14px;

                    i{
                        font-size: 16px;
                        margin-right: 5px;
                    }
                }
            }
        }
    }

    .kitchen-model-content,
    #kitchen-model-content{
        padding: 20px 0 10px;

        .gallery-label-wrapper{
            font-size: 16px;
            display: inline-block;
            vertical-align: middle;
            margin-top: -15px;
            margin-bottom: 0;
        }

        .gallery-image-list{
            margin: 0 0 0 20px;
            width: ~"calc(100% - 80px)";

            li{
                + li{
                    margin-left: 10px;
                }

                &:after{
                    content: '';
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: @red-color-1;
                    margin-top: 15px;
                    display: block;
                    margin: 15px auto 0;
                    opacity: 0;
                }

                > a{
                    position: relative;
                    display: block;
                    border-radius: 50%;
                    background-color: #ddd;
                    width: 70px;
                    height: 70px;
                    background-size: cover;
                    background-position: center center;
                }
            }
        }
    }

    .detail-mask-panel,
    #detail-mask-panel{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        z-index: 5;
        background-color: #fff;
        -webkit-animation-duration: .75s;
        animation-duration: .75s;

        .model-container{
            background-color: #ddd;
            height: 100%;

            .gallery-image-container{
                position: relative;
                height: 100%;
                width: 100%;
                -webkit-transition: all .5s ease;
                transition: all .5s ease;
                background-size: cover;
                background-position: top center;

                .mobile-model-content{
                    color: #fff;
                    padding: 15px;

                    .model-name{
                        font-family: "Akrobat Thin";
                        font-weight: normal;
                        font-size: 60px;
                        color: #fff;
                        right: 0;
                        top: 0;
                        line-height: 1;

                        &:after{
                            content: '';
                            width: 5px;
                            height: 5px;
                            display: block;
                            background-color: @red-color-1;
                            margin: 20px 0;
                        }
                    }

                    .detail-text{
                        display: inline-block;
                        vertical-align: top;
                        font-weight: lighter;
                        width: ~"calc(100% - 110px)";
                    }

                    .btn-360-wrapper{
                        width: 100px;
                        text-align: right;
                        display: inline-block;
                        vertical-align: top;

                        .btn-360{
                            display: inline-block;
                            margin: 0;
                        }
                    }
                }
            }
        }
    }

    .page-menus{
        list-style: none;
        margin-bottom: 20px;

        > li{
            display: inline-block;
            opacity: .6;
            border-left: 1px solid #fff;
            padding: 0 15px;
            -webkit-transition: all .3s ease;
            transition: all .3s ease;

            &.active{
                opacity: 1;
                border-left-color: @red-color-1;

                > a{
                    text-shadow: 0 2px rgba(0, 0, 0, 0.7);
                }
            }

            &:hover{
                opacity: 1;
            }

            > a{
                display: block;
                color: #fff;
                font-family: "Akrobat";
                font-size: 20px;
                line-height: 1;
            }
        }
    }

    #accessaries-panel,
    #standard-panel{
        padding-top: 0;
    }

    #spec-dropdown-menu{
        width: 430px;
        padding: 15px 15px 0;
        // width: 100%;
        max-height: 470px;

        .spec-menu-item{
            height: 60px;
            font-size: 14px;
            margin-bottom: 15px;

            .spec-menu-item-inner{
                height: 100%;

                .image-col{
                    height: 100%;

                    .image-col-inner{
                        height: 100%;

                        .item-image{
                            height: 100%;
                            width: 100%;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-color: #ddd;

                            &.default-image{
                                background-size: 60% auto;
                                background-position: center center;
                            }
                        }

                        > img{
                            border: 5px solid #fff;
                        }
                    }
                }

                .content-col{
                    height: 100%;

                    .content-col-inner{
                        position: relative;
                        height: 100%;
                        padding: 0 15px;
                        text-align: right;

                        .title{
                            text-transform: uppercase;
                            color: #666;
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
        }
    }

    .spec-item{
        + .spec-item{
            margin-top: 40px;
        }

        .content-col,
        .image-col{
            height: 450px;
        }

        .image-col{
            .image-col-inner{
                .item-image{
                    border: 5px solid #fff;
                }
            }
        }

        .content-col{
            .content-col-inner{
                padding: 40px;
                height: 100%;

                .content{
                    position: absolute;
                    bottom: 40px;
                }
            }
        }
    }

    .view-360-page{
        position: relative;
        min-height: 100vh;
        height: auto;

        .container{
            padding: 0 15px;
        }

        #view-360-panel{
            position: relative;
            padding: 150px 20px 20px;
            min-height: 100vh;

             > .container{
                padding: 0 15px;
            }

            .view-360-inner-panel{
                position: relative;
                overflow: hidden;
                border: 4px solid #fff;
                height: 550px;
                background-color: #000;
                padding: 20px 20px 0;
            }

            #customize-panel{
                position: absolute;
                width: auto;
                left: auto;
                top: 100%;
                bottom: auto;
                margin-top: -75px;

                &.open{
                    position: absolute;
                    width: auto;
                    left: auto;
                    margin-left: 0;
                }

                > .title-panel{
                    width: 281px;

                    > .title{
                        font-size: 36px;

                        &:after{
                            font-size: 18px;
                            line-height: 26px;
                            border-radius: 50%;
                            width: 30px;
                            height: 30px;
                            top: 10px;
                        }
                    }
                }
            }

            #nav-panel{
                position: absolute;
                left: 0;
                right: 0;
                margin-top: -15px;
                top: 425px;
            }
        }
    }

    @detail-dialog-min-height: 450px;

    #detail-dialog{
        .container{
            padding: 0 15px;

            .modal-dialog{
                // margin-top: 150px;

                .modal-content{
                    min-height: @detail-dialog-min-height;

                    .close{
                        top: 25px;
                        right: 25px;
                    }

                    .media-col{
                        min-height: @detail-dialog-min-height;

                        .owl-item{
                            height: @detail-dialog-min-height;
                        }
                    }

                    .content-col{
                        min-height: @detail-dialog-min-height;
                        padding: 20px 30px;

                        .title{
                            font-size: 54px;
                            margin-top: 40px;
                        }

                        .description{
                            position: absolute;
                            bottom: 30px;
                            left: 30px;
                            right: 30px;
                        }
                    }
                }
            }
        }
    }

    #download-page{
        #download-panel{
            padding-top: 0;
            padding-bottom: 60px;
            // margin-bottom: 80px;
        }

        .content-panel-body{
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
        }

        #subscription-form{
            margin-top: -15px;
            margin-bottom: 20px;
        }

        .download-item{
            font-size: 16px;
            margin-bottom: 20px;

            .download-content{
                padding: 15px;
                min-height: 90px;

                &:after{
                    height: 4px;
                    margin: 20px auto 5px;
                }
            }
        }
    }
}

@media(min-width: @screen-md-min){
    body{
        &.home-page{
            #header-panel{
                position: fixed;
                left: @blank-space + 2;
                margin-left: 15px;

                .navbar-brand{
                    // width: 40%;
                    // margin-left: @blank-space + 45px;
                    margin-left: 20px;
                }

                #header-top-panel{
                    #header-top-menus{
                        margin-right: @right-offset;
                    }
                }

                #collapse-menu{
                    min-height: auto;
                    height: auto;
                    margin-right: @right-offset;
                }
            }
        }
    }

    #home-page{
        #main-slide{
            section{
                .section-inner{
                    .slide-name{
                        right: @right-offset;
                    }

                    .btn-360{
                        right: @right-offset;
                    }
                }
            }
        }
    }
}