@red-color-1: #FF4d4d;
@green-color-1: #4C9067;

@primary-color: #000;
@text-color: #666;

.clearfix() {
    &:before,
    &:after {
        content: " ";
        display: table;
    }

    &:after {
        clear: both;
    }
}

.text-overflow(){
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/prompt/prompt-medium.eot');
    src: url('../fonts/prompt/prompt-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/prompt/prompt-medium.woff2') format('woff2'),
         url('../fonts/prompt/prompt-medium.woff') format('woff'),
         url('../fonts/prompt/prompt-medium.ttf') format('truetype'),
         url('../fonts/prompt/prompt-medium.svg#promptmedium') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/prompt/prompt-regular.eot');
    src: url('../fonts/prompt/prompt-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/prompt/prompt-regular.woff2') format('woff2'),
         url('../fonts/prompt/prompt-regular.woff') format('woff'),
         url('../fonts/prompt/prompt-regular.ttf') format('truetype'),
         url('../fonts/prompt/prompt-regular.svg#promptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

.spinner {
    width: 40px;
    height: 40px;
    margin: 100px auto;
    background-color: #333;

    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

a{
    text-decoration: none;
    cursor: pointer;

    &:hover{
        text-decoration: none;
    }
}

body{
    -webkit-font-smoothing: antialiased;
    font-family: "Prompt";
    font-size: 14px;
    min-width: 1000px;
}

textarea{
    resize: none;
}

.error-text{
    color: @red-color-1;
}

.text-red{
    color: @red-color-1;
}

.text-primary{
    color: @primary-color;
}

.row{
    &.narrow{
        margin-left: -7px;
        margin-right: -7px;

        > [class*="col-"]{
            padding-left: 7px;
            padding-right: 7px;
        }
    }

    &.no-gap{
        margin-left: 0;
        margin-right: 0;

        > [class*="col-"]{
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.btn{
    border-radius: 2px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

    &.skelleton{
        background: none;
        border: 2px solid;
    }

    &.btn-primary{
        background: @primary-color;
        border-color: @primary-color;
        color: #fff;

        &:active{
            background: @primary-color;
            border-color: @primary-color;
        }
    }

    &.rounded{
        border-radius: 50px;
        padding-left: 15px;
        padding-right: 15px;
    }

    // &:hover{
    //     box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    // }

    &.btn-link{
        &:hover{
            box-shadow: none;
            text-decoration: none;
        }
    }

    &.btn-grey-1{
        background: #ddd;
        border-color: #ddd;
        color: @text-color;

        &:active{
            background: #ddd;
            border-color: #ddd;
        }
    }

    &.btn-size-150{
        min-width: 150px;
    }
}

textarea,
input[type="password"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="text"],
input[type="search"]{
    border-radius: 2px;
    box-shadow: none;

    &:focus{
        outline: none !important;
        box-shadow: none !important;
        border-color: @primary-color !important;
    }

    &.error{
        border-color: @red-color-1 !important;
    }
}

.item-loading-panel,
#item-loading-panel{
    display: none;
    text-align: center;
    padding: 60px 0 20px;

    img{
        width: 24px;
        opacity: 0.5;
    }
}

.item-loading-panel{
    padding-top: 30px;
    display: block;
}

#loading-panel{
    background: rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1060;
    display: none;

    .loading-icon,
    img{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: -32px auto 0;
    }

    &.in-panel{
        background: rgba(0, 0, 0, 0.5);
        position: absolute;
    }

    &.circle{
        img{
            width: 72px;
            margin-top: -36px;
        }
    }
}

.content-panel{
    padding: 20px 0;
}

#main-content-panel{
    margin-left: 220px;
    padding: 0;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;

    &.expand{
        margin-left: @side-menu-shrink-width;
    }
}

#header-panel{
    height: 60px;
    background: #f3f3f4;
    padding: 0 15px;

    #menu-btn{
        font-size: 18px;
        padding: 15px 7px;
        display: inline-block;
        color: @text-color;
    }

    #view-front-btn{
        color: @text-color;
    }

    #account-dropdown{
        float: right !important;

        #account-button{
            padding: 18px 20px;
            display: block;
            color: #333;
        }

        .dropdown-menu{
            > li{
                > a{
                    font-weight: 300;
                }
            }
        }
    }
}

@side-menu-shrink-width: 80px;

#side-menu-panel{
    position: fixed;
    width: 220px;
    background: #000;
    min-height: 100%;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
    z-index: 10;

    &.shrink{
        width: @side-menu-shrink-width;

        #logo{
            padding: 10px 15px;
            text-align: center;

            > span{
                font-size: 12px;
                display: block;
            }
        }

        li{
            &.has-child{
                > a{
                    &:after{
                        display: none;
                    }
                }

                &:hover{
                    .sub-menu{
                        display: block;
                        height: auto !important;
                        z-index: 10;
                    }
                }
            }

            a{
                text-align: center;
            }
        }

        .menu-item-icon{
            font-size: 18px;
        }

        .menu-item-title{
            display: none;
        }

        .sub-menu{
            position: absolute;
            left: @side-menu-shrink-width;
            top: 0;
            display: none;

            a{
                text-align: left;
            }
        }
    }

    #logo{
        display: block;
        font-weight: 400;
        font-size: 20px;
        text-align: center;
        margin-bottom: 10px;
        color: @primary-color;
        max-width: 100%;
        padding: 20px;

        > img{
            max-width: 100%;
            max-height: 60px;
        }

        > span{
            -webkit-transition: all 0.25s ease-in-out;
            transition: all 0.25s ease-in-out;
        }
    }

    .side-menu{
        margin: 0;

        li{
            color: #a7b1c2;
            font-weight: 400;
            position: relative;

            .menu-item-icon{
                width: 30px;
                display: inline-block;
                text-align: center;

                + .menu-item-title{
                    margin-left: 5px;
                }

                > img{
                    opacity: 0.7;
                    margin-top: -3px;
                    max-width: 100%;
                    -webkit-transition: all 0.25s ease-in-out;
                    transition: all 0.25s ease-in-out;
                }
            }

            &.active{
                > a{
                    color: #fff;
                    background-color: #232323;

                    &:before{
                        content: '';
                        width: 2px;
                        height: 100%;
                        position: absolute;
                        top: 0;
                        left: 0;
                        // background: #fff;
                    }

                    img{
                        opacity: 1;
                    }
                }
            }

            &.has-child{
                > a{
                    &:after{
                        content: '\f107';
                        font-family: 'FontAwesome';
                        position: absolute;
                        right: 15px;
                    }
                }
            }

            a{
                position: relative;
                display: block;
                color: #a7b1c2;
                padding: 14px 15px 14px 15px;
                .text-overflow();
                text-transform: uppercase;
                -webkit-transition: all 0.25s ease-in-out;
                transition: all 0.25s ease-in-out;

                &:hover{
                    color: #fff;

                    img{
                        opacity: 1;
                    }
                }

                &.opened{
                    background: #293846;

                    &:after{
                        content: '\f106';
                        font-family: 'FontAwesome';
                    }
                }
            }

            .sub-menu{
                padding: 5px 15px 5px 28px;
                background: #293846;

                a{
                    padding: 10px 15px;
                    text-transform: none;
                }
            }
        }
    }
}

.page-header-panel{
    margin: -20px 0 20px;
    border-bottom: 1px solid #ddd;

    .page-title{
        display: inline-block;
        font-size: 16px;
        font-weight: 400;
        color: #333;
        padding: 16px 0;
    }

    .action-button{
        display: inline-block;
        vertical-align: middle;
        margin: 10px 0;

        + #member-view-actions{
            margin-left: 15px;
            margin-right: -15px;
        }
    }
}

table{
    // min-height: 100px;

    input[type="checkbox"]{
        margin-top: 0;
    }

    thead{
        th{
            font-weight: bold;
        }
    }

    .kitchen-image{
        width: 80px;
        height: 50px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        background-color: #ddd;
    }

    &.dataTable{
        width: 100% !important;

        thead{
            th{
                font-weight: bold;
            }
        }

        tbody{
            tr{
                &.selected{
                    background-color: #f3f3f3;

                    td{
                        &.select-checkbox{
                            &:after{
                                content: '\f00c';
                                font-family: 'FontAwesome';
                                text-shadow: none;
                                margin-left: -5px;
                            }
                        }
                    }
                }
            }

            td{
                font-size: 14px;
                color: @text-color;

                &.select-checkbox{
                    &:before{
                        border: 1px solid #aaa;
                        border-radius: 2px;
                        cursor: pointer;
                    }
                }
            }
        }

        &.no-footer{
            border-bottom: 1px solid #ddd;
        }
    }

    tr{
        &.status-active{
            .status-col{
                color: @green-color-1;

                &:before{
                    content: '';
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: @green-color-1;
                    margin-right: 5px;
                    display: inline-block;
                }
            }
        }

        &.status-inactive{
            .status-col{
                color: @red-color-1;

                &:before{
                    content: '';
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: @red-color-1;
                    margin-right: 5px;
                    display: inline-block;
                }
            }
        }

        .status-col{
            font-weight: 400;
            white-space: nowrap;
        }
    }

    .action-btn{
        color: @text-color;
        background: #eee;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        text-align: center;
        display: inline-block;
        padding: 5px 5px;
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        margin-right: 2px;
        margin-bottom: 5px;
        line-height: 20px;

        + .action-btn{
            // margin-left: 2px;
        }

        &.edit-btn{
            background: #5ac3e9;
            color: #fff;

            &:hover{
                background: #5ac3e9;
                color: #fff;
            }
        }

        &.delete-btn{
            background: @red-color-1;
            color: #fff;

            &:hover{
                background: @red-color-1;
                color: #fff;
            }
        }
    }
}

.table-actions{
    text-align: right;
    margin-bottom: 20px;
    // display: inline-block;
    // margin-bottom: -40px;
    // float: right;
    // margin-right: 250px;

    > ul{
        list-style: none;

        > li{
            display: inline-block;

            > a{
                color: @text-color;
            }
        }
    }
}

.action-btn{
    &.delete-btn{
        background: @red-color-1;
        color: #fff;
    }
}

.modal{
    .modal-dialog{
        .modal-content{
            overflow: hidden;

            .modal-header{
                .close{
                    font-size: 36px;
                    font-weight: 300;
                    line-height: 24px;
                }

                .modal-title{
                    font-weight: 400;
                }
            }

            .modal-body{
                min-height: 100px;
            }

            .modal-footer{
                border: none;
                background: #fafafa;

                .btn{
                    min-width: 120px;
                }
            }
        }
    }
}

.dataTables_wrapper{
    .dataTables_length{
        text-align: left !important;
    }

    .dataTables_filter{
        text-align: right !important;

        input[type="search"]{
            border: 1px solid #ddd;
            font-weight: 300;
        }
    }

    .dataTable{
        margin: 20px 0 6px !important;
    }

    .dataTables_info{
        text-align: left !important;
    }

    .dataTables_paginate{
        text-align: right !important;

        .paginate_button{
            background: #fff;
            border: none;

            &:not(.disabled){
                > a{
                    color: @primary-color;
                }
            }

            a{
                &:focus{
                    outline: none;
                }
            }

            &.active > a{
                border-color: #ddd;
                background: #eee;
                font-weight: 400;
                color: #333;
            }
        }
    }
}

.bootstrap-select{
    &.normal-width{
        width: 220px !important;
    }

    &.open{
        .dropdown-toggle{
            box-shadow: none !important;
        }
    }

    .dropdown-toggle{
        &:focus{
            outline: none !important;
        }
    }

    .dropdown-menu{
        > li{
            > a{
                font-weight: 300;

                &:focus,
                &:hover{
                    outline: none;
                }
            }
        }
    }
}

.form{
    max-width: 1000px;
    margin: 20px auto 0;

    .bootstrap-select{
        width: 100% !important;
    }

    .button-panel{
        margin: 40px 0;

        &.border-top{
            border-top: 1px solid #ddd;
            padding-top: 40px;
        }
    }
}

.upload-text{
    margin: 10px auto 40px;
}

.section-title{
    font-weight: bold;
    font-size: 16px;
    padding: 10px 0;
    margin: 30px auto 20px;
    border-bottom: 1px solid #ddd;
}

.file-upload-wrapper{
    display: block;
    overflow: hidden;
    position: relative;
    background-size: 50% auto;
    background-position: center center;
    margin: auto;
    background-color: #eee;
    background-repeat: no-repeat;

    &.image-container{
        -webkit-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
    }

    &.download-image{
        // width: 200px;
        // height: 250px;
        width: 275px;
        height: 380px;
        max-width: 100%;
    }

    &.kitchen-image,
    &.accessaries-image,
    &.specification-image{
        width: 300px;
        height: 237px;
    }

    &.has-image{
        background-size: cover;

        &:hover{
            .icon,
            .title{
                opacity: 0;
            }
        }

        .icon,
        .title{
            opacity: 0;
        }
    }

    &.user-image{
        border-radius: 50%;
        display: block;
        width: 150px;
        height: 150px;
        background-color: #ddd;
        position: relative;
        background-image: url('./../images/user-default.png');
        background-position: top center;
        background-size: cover;
    }

    .file-upload{
        cursor: pointer;
        font-size: 240px;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: 3;
    }
}

.clearable-textbox{
    display: inline-block;

    &.has-value{
        + .clear-text-btn{
            display: inline-block;
        }
    }

    + .clear-text-btn{
        margin-left: -32px;
        color: #888;
        background-color: #eee;
        border-radius: 50%;
        width: 22px;
        height: 22px;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        font-size: 24px;
        vertical-align: middle;
        padding: 0;
        position: relative;
        z-index: 10;
        display: none;
    }
}

.datepicker{
    padding: 6px 12px;
}

.datepicker.dropdown-menu table > tbody > tr > td span.active:hover,
.datepicker.dropdown-menu table > tbody > tr > td span.active,
.datepicker.dropdown-menu table > tbody > tr > td.active:hover,
.datepicker.dropdown-menu table > tbody > tr > td.active,
.datetimepicker.dropdown-menu table > tbody > tr > td span.active:hover,
.datetimepicker.dropdown-menu table > tbody > tr > td span.active,
.datetimepicker.dropdown-menu table > tbody > tr > td.active:hover,
.datetimepicker.dropdown-menu table > tbody > tr > td.active{
    border-radius: 2px;
    background: #000
}

.gallery-image{
    display: block;
    position: relative;
    border: 1px solid #ddd;

    .image-container{
        width: 100%;
        height: 150px;
        display: block;
        background-size: cover;
        background-position: center center;
        background-color: #ddd;
    }
}

.gallery-image-btn{
    height: 150px;
    display: block;
    text-align: center;
    background-color: #ddd;
    border: 2px dashed #aaa;
    border-radius: 5px;
    color: #222;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    overflow: hidden;

    i{
        font-size: 20px;
    }

    img{
        opacity: 0.7;
    }

    .title{
        margin-top: 5px;
    }

    &:hover{
        img{
            opacity: 1;
        }

        .title{
            color: #000;
        }
    }
}

.vertical-middle-parent{
    position: relative;
    height: 100%;

    .vertical-middle-child{
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translateY(-50%);
    }
}

#gallery-image-list{
    list-style: none;

    > li{
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;

        .remove-image{
            display: block;
            position: absolute;
            z-index: 2;
            top: 4px;
            right: 4px;
            color: #fff;
            background-color: rgba(0, 0, 0, 0.4);
        }
    }
}

.ui-state-highlight{
    height: 150px;
    background: #f3f3f3;
}

.ui-sortable-handle{
    cursor: move;
}

.login-page{
    background-color: @primary-color;

    #login-panel{
        max-width: 100%;
        width: 400px;
        margin: 100px auto 20px;

        .logo{
            text-align: center;
            margin: 30px auto;

            > img{
                max-width: 150px;
            }
        }

        form{
            .field-wrapper{
                background-color: #fff;
                padding: 20px;
                border-radius: 2px;
            }
        }
    }
}